* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f172a;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todos-container {
  background-color: #1e293b;
  max-width: 400px;
  min-width: 350px;
  margin: 50px auto;
  justify-content: space-around;
  padding: 10px;
  border-radius: 4px;
  font-family: sans-serif;
}
.task-input {
  display: flex;
  justify-content: space-between;
}
.task-input > button {
  border: none;
  background-color: #3b82f6;
  color: #f1f5f9;
  padding: 4px 15px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
.task-input > button:hover {
  background-color: #2563eb;
}
.task-input input {
  max-width: 300px;
  border: #3b82f6;
  min-width: 300px;
  height: 35px;
  outline: none;
  font-size: 18px;
  padding: 5px;
  background-color: #273449;
  color: #f1f5f9;
  border-top-left-radius: 4px;
}
.todos {
  margin-top: 15px;
}
.todoEl {
  display: flex;
  flex-direction: row;
  color: #f1f5f9;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 10px;
  border-bottom: 1px solid white;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
}
.todoEl > span {
  flex: 1;
  text-align: left;
  text-transform: initial;
  font-size: 18px;
}
.todoEl > span::first-letter {
  text-transform: uppercase;
}

.todoEl > input {
  width: 25px;
  height: 20px;
}

.todoEl > button {
  background-color: #ef4444;
  color: #f1f5f9;
  border: none;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}
.todoEl > button:hover {
  background-color: #dc2626;
}
