.products-section {
  width: 100%;
}
.products-section .products-container {
  width: min(95%, 1200px);
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: clamp(10px, 2vw, 15px);
  overflow: hidden;
  align-items: stretch;
}
.products-section .products-container .product-item {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

.products-section .products-container .product-item img {
  width: 100%;
}
.products-section .products-container .product-item .pro-desc {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 15px);
  overflow: hidden;
  flex: 1;
}
.products-section .products-container .product-item .pro-desc h3 {
  font-size: 1em;
  font-weight: 500;
}
.products-section .products-container .product-item .pro-desc h2 {
  font-size: 1.1em;
}
.products-section .products-container .product-item .pro-desc h2 {
  font-weight: 600;
  color: var(--color-success);
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.products-section .products-container .product-item .pro-desc h2 span {
  color: var(--color-error);
  font-size: 0.6em;
  text-decoration: line-through;
}
.products-section .products-container .product-item .pro-desc span {
  font-size: 0.8em;
  font-weight: 400;
}
.products-section .products-container .product-item .add-cart {
  background-color: var(--color-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  color: var(--color-white);
  padding: 0.4em;
  margin-top:auto;
}
.products-section .products-container .product-item .add-cart:hover {
  background-color: var(--bg-card);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}
.rating i {
  color: #ffd700;
  transition: 0.3s linear;

  font-size: 1.3em;
}
.rating i:hover {
  color: #ffc107;
}
