 .hero-section {
  width: 100%;
  background-color: var(--color-accent);
}
.hero-section .categories {
  width: min(95%, 1200px);
  margin: 0 auto;
}
.hero-section .categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid lightgray;
}

.cat-center .cat-item {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: end;
}
.cat-center .cat-item i {
  font-size: clamp(14px 2vw 16px);
  color: var(--color-primary);
}
.categories-container ul.cat-center {
  gap: clamp(5px, 1.5vw, 30px);
  display: flex;
  justify-content: space-around;
}
.categories-container .cat-center p {
  color: var(--color-success);
  font-size: calc(10px, 0.5vw, 17px);
  font-weight: 600;
}
.categories-container .cat-item:hover p {
  color: var(--color-primary);
}
.categories-container .cat-left {
  display: flex;
  color: var(--color-white);
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  padding: clamp(5px, 1vw, 15px) clamp(5px, 1vw, 15px);
  gap: 3px;
  position: relative;
  font-size: 18px;
}
.categories-container .cat-left i {
  font-size: 25px;
}
.hero-section .categories-container .cat-right {
  display: flex;
  flex-direction: column;
  font-size: clamp(11px, 1vw, 13px);
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-success);
  padding: clamp(5px, 0.5vw, 15px) clamp(5px, 1vw, 15px);

  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.top-selers-section {
  display: flex;
  width: min(95%, 1200px);
  margin:  auto;
}
.top-selers-section .top-sellers-left {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.top-selers-section .top-sellers-left h1 {
  background-color: var(--color-accent);
} 

 @media screen and (max-width: 976px) {
  #catCenter p {
    display: none;
  }
  .hero-section .categories-container {
    border: none;
    background-color: var(--color-success);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .hero-section .categories-container ul.cat-center {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: clamp(3px, 50vw, 6vw);
    font-size: clamp(14px, 50vw, 2vw);
    font-weight: 600;
  }
  .categories-container .cat-right {
    border: 1px var(--color-white) solid;
    margin: 3px;
  }
  .categories-container .cat-left {
    position: relative;
  }
} 
 #close {
  display: none;
}
@media screen and (max-width: 600px) {
  #catCenter p {
    display: flex;
  }
  #catCenter {
    display: flex;
  }
  #catCenter {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 50%;
    background-color: var(--color-success);
    top: 0;
    left: 0;
    height: 100dvh;
    z-index: 1000;
    padding: auto;
    gap: 20px;
    transition: left 3000ms ease-in;
    padding-top: 50px;
  }
  .active {
    display: none;
  }
  #close {
    display: block;
    background: none;
    color: var(--color-white);
    border: none;
    right: 1em;
    font-size: 24px;
    position: absolute;
    top: 5px;
  }
  #catCenter .cat-item {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  #catCenter .cat-item:hover {
    background-color: #666;
  }
  #catCenter .cat-item p {
    position: absolute;
    left: clamp(80px, 3vw, 100px);
    font-size: clamp(16px, 3vw, 16px);
    font-weight: 600;
    color: var(--color-white);
  }
  #catCenter .cat-item i {
    font-size: clamp(25px, 3vw, 27px);
    margin-left: 10px;
  }
  .hero-section .categories-container {
    background-color: var(--bg-card);
    cursor: pointer;
  }
  .cat-left span#mobile {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
  }
}
.cat-left span {
  display: none;
}
 