* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background-color: var(--color-accent);
}
.navbar-container {
  width: 100%;
  background-color: var(--bg-card);
}

/* .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  height: 70px;
  background-color: var(--bg-card);
  width: 83%;
  margin: 0 auto;
  padding: 15px 0;
} */

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  gap: 5rem;
  width: min(95%, 1200px);
  margin: 0 auto;
  height: 70px;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}
.location {
  display: none;
  gap: 5px;
  justify-content: baseline;
  text-transform: capitalize;
}
.location i {
  font-size: 30px;
}
.account {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.account i {
  font-size: clamp(14px, 3vw, 32px);
}
.account span {
  display: flex;
  align-items: center;
}
.account:hover {
  color: var(--color-primary);
}
.help i {
  font-size: clamp(14px, 3vw, 32px);
  font-weight: 400;
}
.help span {
  display: flex;
  align-items: center;
}

.help {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  gap: 5px;
  border-radius: 5px;
  padding-left: 5px;
}
.help:hover {
  color: var(--color-primary);
}
.cart {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  gap: 5px;
}
.cart i {
  font-size: clamp(14px, 3vw, 32px);
}
.cart:hover {
  color: var(--color-primary);
}
/* .search-bar {
  display: flex;
  flex: 1;
  max-width: 600px;
  gap: 5px;
} */

.search-bar {
  flex: 1;
  min-width: 150px;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.search-bar i {
  position: absolute;
  padding-left: 10px;
  font-size: 23px;
  align-self: center;
  color: var(--color-primary);
}
.search-bar input {
  flex: 1;
  height: 40px;
  border: 1px solid var(--color-dark-gray);
  padding-top: 4px;
  padding-left: 35px;
  border-radius: 4px;
  outline: none;
}
.search-bar input::placeholder {
  font-size: clamp(12px, 1.5vw, 16px);
  color: var(--color-medium-gray);
}
.search-bar button {
  padding: 0.6rem 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  font-weight: 600;
  border-radius: 4px;
}

/* .location{
  display: flex;
  flex-direction: column;

  white-space: nowrap;
}
.location p{
  font-size: 12px;
}
.location span{
  display: flex;
  gap: 3px;
  padding: -100px;
}
.location span i{
  font-size: 18px;
} */
.account-wrapper {
  position: relative;
}
.navbar .acc-container {
  position: absolute;
  background-color: var(--color-white);
  display: none;
  flex-direction: column;
  width: 200px;
  height: 230px;
  top: 100%;
  background-color: var(--color-white);
  padding: 10px;
  z-index: 1000000;
}

.navbar .acc-container button {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
.navbar .acc-container span {
  display: flex;
  padding: 15px;
  gap: 10px;
  align-items: baseline;
  border: none;
  cursor: pointer;
}
.navbar .acc-container span i {
  font-size: 25px;
}
.navbar .acc-container span:hover p {
  font-weight: 600;
}
.help-wrapper {
  position: relative;
}
.help-container {
  position: absolute;
  background-color: var(--color-white);
  display: none;
  flex-direction: column;
  width: 200px;
z-index: 100000000;
  top: 100%;
  background-color: var(--color-white);
}
.navbar .help-container button {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.navbar .help-container button i {
  font-size: 25px;
}
.navbar .help-container span {
  display: flex;
  padding: 15px;
  gap: 5px;
  align-items: baseline;
  border: none;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.navbar .help-container span i {
  font-size: 25px;
}
.navbar .help-container span:hover p {
  font-weight: 600;
}
.active {
  display: none;
}

/* ---------Navbar responsive design------------- */

@media screen and (max-width: 1181px) {
  .navbar .account p {
    display: none;
  }
  .navbar .help p {
    display: none;
  }
}
@media screen and (max-width: 905px) {
  .navbar {
    gap: 1rem;
  }
}
@media screen and (max-width: 713px) {
  .navbar .account span {
    display: none;
  }
  .navbar .help span {
    display: none;
  }
  .cart p {
    display: none;
  }
}
@media screen and (max-width: 946px) {
  .navbar .help-container {
    right: -90px;
  }
  .navbar .acc-container {
    right: -30px;
    top: 40px;
  }
}
@media screen and (max-width: 732px) {
  .navbar .help-container {
    right: -30px;
  }
 
}
@media screen and (max-width: 600px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 5px;
    .categories-container .cat-left {
      margin-left: 0;
    }
    height: 15vh;
  }

  .navbar .nav-actions {
    grid-row: 1/2;
    grid-column: 2/2;
    justify-self: end;
  }
  .nav-actions i {
    font-size: 25px;
  }
  .search-bar input {
    min-width: 97vw;
    margin: 0 auto;
    font-size: 16px;
    padding-left: 10vw;
    padding-bottom: 5px;
  }
  .search-bar input::placeholder {
    font-size: clamp(12px, 3.5vw, 1rem);
  }
  .search-bar button {
    display: none;
  }
}

/* -------Hero section--------- */
.hero-section {
  width: 100%;
  background-color: var(--color-accent);
}
.hero-section .categories {
  width: min(95%, 1200px);
  margin: 0 auto;
}
.hero-section .categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid lightgray;
}
.cat-center .cat-item {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: end;
}
.cat-center .cat-item i {
  font-size: clamp(14px 2vw 16px);
  color: var(--color-primary);
}
.categories-container ul.cat-center {
  display: flex;
  justify-content: space-between;
  gap: clamp(5px, 1.5vw, 30px);
}
.categories-container .cat-center p {
  color: var(--color-success);
  font-size: calc(10px, 0.5vw, 17px);
  font-weight: 600;
}
.categories-container .cat-item:hover p {
  color: var(--color-primary);
}
.categories-container .cat-left {
  display: flex;
  color: var(--color-white);
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  padding: clamp(5px, 1vw, 15px) clamp(5px, 1vw, 15px);
  gap: 3px;
  position: relative;
  font-size: 18px;
}
.categories-container .cat-left i {
  font-size: 25px;
}
.hero-section .categories-container .cat-right {
  display: flex;
  flex-direction: column;
  font-size: clamp(11px, 1vw, 13px);
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-success);
  padding: clamp(5px, 0.5vw, 15px) clamp(5px, 1vw, 15px);

  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.top-selers-section {
  display: flex;
  width: min(95%, 1200px);
  margin: 0 auto;
}
.top-selers-section .top-sellers-left {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.top-selers-section .top-sellers-left h1 {
  background-color: var(--color-accent);
}

@media screen and (max-width: 976px) {
  #catCenter p {
    display: none;
  }
  .hero-section .categories-container {
    border: none;
    background-color: var(--color-success);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .hero-section .categories-container ul.cat-center {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: clamp(3px, 50vw, 6vw);
    font-size: clamp(14px, 50vw, 2vw);
    font-weight: 600;
  }
  .categories-container .cat-right {
    border: 1px var(--color-white) solid;
    margin: 3px;
  }
  .categories-container .cat-left {
    position: relative;
  }
}
#close {
  display: none;
}
@media screen and (max-width: 600px) {
  #catCenter p {
    display: flex;
  }
  #catCenter {
    display: flex;
  }
  #catCenter {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 50%;
    background-color: var(--color-success);
    top: 0;
    left: 0;
    height: 100dvh;
    z-index: 1000;
    padding: auto;
    gap: 20px;
    transition: left 3000ms ease-in;
    padding-top: 50px;
  }
  .active {
    display: none;
  }
  #close {
    display: block;
    background: none;
    color: var(--color-white);
    border: none;
    right: 1em;
    font-size: 24px;
    position: absolute;
    top: 5px;
  }
  #catCenter .cat-item {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  #catCenter .cat-item:hover {
    background-color: #666;
  }
  #catCenter .cat-item p {
    position: absolute;
    left: clamp(80px, 3vw, 100px);
    font-size: clamp(16px, 3vw, 16px);
    font-weight: 600;
    color: var(--color-white);
  }
  #catCenter .cat-item i {
    font-size: clamp(25px, 3vw, 27px);
    margin-left: 10px;
  }
  .hero-section .categories-container {
    background-color: var(--bg-card);
    cursor: pointer;
  }
  .cat-left span#mobile {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
  }
}
.cat-left span {
  display: none;
}
.top-selers-section {
  margin-top: 10px;
}
.top-selers-section .top-sellers-left ul {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card);
  padding: 0.5em;
  justify-content: start;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.top-selers-section .top-sellers-left ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: clamp(5px, 4vw, 30px);
  white-space: nowrap;
  padding-bottom: 10px;
}
.top-selers-section .top-sellers-left ul span {
  justify-self: auto;
  font-size: clamp(0.5em, 3vw, 1em);
}
.top-selers-section .top-sellers-left ul i {
  font-size: clamp(0.5em, 4vw, 1.5em);
  color: var(--color-success);
}
.top-selers-section .top-sellers-left span.head {
  background-color: var(--color-success);
  color: var(--color-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  width: 100%;
}
.top-selers-section .top-sellers-left span.head h3 {
  justify-self: center;
}
.top-sellers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(10px, 3vw, 20px);
}
.top-selers-section .top-sellers-right .slide-image {
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}

.top-sellers-right .slides {
  display: flex;
}

.top-selers-section .top-sellers-right img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 3px;
}
.top-selers-section .top-sellers-right {
  overflow: hidden;
  position: relative;
  align-items: center;
}

.top-sellers-right .slide-icons {
  position: relative;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  align-items: center;
}
.top-sellers-right .slide-icons .right {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff4d;
  color: var(--color-white);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  right: 0;
}
.top-sellers-right .slide-icons .left {
  position: absolute;
  border-radius: 50px;
  background-color: #ffffff4d;
  color: var(--color-white);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  left: 0;
}
/* .top-sellers-right #sliderContainer{
  display: flex;
  position: relative;
  background-color: violet;
  align-items: center;

} */
@media screen and (max-width: 815px) {
  .top-selers-section .top-sellers {
    display: flex;
    flex-direction: column-reverse;
  }
  .top-selers-section .top-sellers .top-sellers-left .top-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 5fr));
    height: 100%;
    grid-gap: clamp(5px, 0.5vw, 10px);
  }
  .top-selers-section .top-sellers .top-sellers-left .top-items li {
    white-space: normal;
    padding: auto;
    display: flex;
    gap: clamp(3px, 1vw, 5px);
    justify-content: center;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
  }
}

/* Products section */

.products-section {
  width: 100%;
}
.products-section .products-container {
  width: min(95%, 1200px);
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: clamp(10px, 2vw, 15px);
}
.products-section .products-container .product-item {
  background-color: #fafafa;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.products-section .products-container .product-item img {
  width: 100%;
}
.products-section .products-container .product-item .pro-desc {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 15px);
  flex-grow: 1;
  overflow: hidden;
}
.products-section .products-container .product-item .pro-desc h3 {
  font-size: 1em;
  font-weight: 500;
}
.products-section .products-container .product-item .pro-desc h2 {
  font-size: 1.1em;
}
.products-section .products-container .product-item .pro-desc h2 {
  font-weight: 600;
  color: var(--color-success);
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.products-section .products-container .product-item .pro-desc h2 span {
  color: var(--color-error);
  font-size: 0.6em;
  text-decoration: line-through;
}
.products-section .products-container .product-item .pro-desc span {
  font-size: 0.8em;
  font-weight: 400;
}
.products-section .products-container .product-item .add-cart {
  background-color: var(--color-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  color: var(--color-white);
  padding: 0.4em;
}
.products-section .products-container .product-item .add-cart:hover {
  background-color: var(--bg-card);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}
.rating i {
  color: #ffd700;
  transition: 0.3s linear;

  font-size: 1.3em;
}
.rating i:hover {
  color: #ffc107;
}
